<form class="max-w-sm mx-auto space-y-4 md:space-y-6" (ngSubmit)="onLogin()">

    <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">
        {{ errorMessage }}
    </div>

    <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tu correo o
            usuario.</label>
        <input type="email" id="usuario" name="usuario" [(ngModel)]="usuario"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com" required />
    </div>
    <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
        <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required />
    </div>

    <div>
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Ingresar
        </button>
    </div>

    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
        No tienes una cuenta creada?
        <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500 text-blue-400"
            [routerLink]="['/registro']">Registrate aqui</a>
    </p>
</form>